.password-instructions {
  font-size: 1.8rem;
  color: $blackLight;
}

.main-container_forgetpass {
  display: flex;
  height: 100vh;
  padding: 1.2rem;
  @include desktop() {
    padding: 0;
  }
  .auth-sidebar {
    display: none;
    @include desktop() {
      display: block;
    }
  }
}
