.main-container {
  padding: 0 20px;
  @include desktop() {
    display: flex;
    padding: 0;
  }
}
.auth-sidebar,
.content {
  width: 100%;
  max-width: 42rem;
  margin: auto;
}
.auth-sidebar {
  @include desktop() {
    max-width: 37.917%;
    height: 100vh;
    background-image: url("/build/img/auth/signup\ background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
  .auth-sidebar-content {
    padding: 0;
    .header {
      .logo {
        display: block;
        margin-bottom: 3rem;
        img:first-child {
          display: none;
          width: 2.26rem;
          height: 5.4rem;
          @include desktop() {
            display: block;
          }
        }
        img:nth-child(2) {
          display: none;
          margin-top: 5rem;
          @include desktop() {
            display: none;
          }
        }
        img:nth-child(3) {
          margin-top: 5rem;
          @include desktop() {
            display: none;
          }
        }
        @include desktop() {
          margin-bottom: 22.1rem;
        }
      }
      h1 {
        display: none;
        @include desktop() {
          display: block;
          text-align: left;
          color: $white;
          font-family: "Montserrat", sans-serif;
          font-size: 5.6rem;
          font-weight: bold;
        }
      }
      @include desktop() {
        margin-bottom: 23.3rem;
        margin-top: 0;
      }
    }
    .footer {
      display: none;
      @include desktop() {
        display: block;
        margin-top: 0;
      }
      p {
        color: #fff;
        font-size: 2rem;
        margin: 0;
      }
    }
    @include desktop() {
      display: flex;
      flex-direction: column;
      padding: 11.4% 36.67% 9.4rem 8.3rem;
      height: 100%;
    }
  }
}
.content {
  .auth-content {
    h2 {
      text-align: left;
      font-size: 2.6rem;
      font-weight: $extraBold;
      margin-bottom: 2.7rem;
      @include desktop() {
        font-size: 4.4rem;
      }
    }
    .auth-connections {
      p {
        font-size: 1.5rem;
        font-weight: $regular;
        line-height: 2rem;
        color: #171717;
        margin-bottom: 3rem;
        @include desktop() {
          font-size: 1.8rem;
        }
        a {
          color: #767676;
        }
      }
      .facebook-connect-btn {
        margin-bottom: 5.4rem;
      }
    }
    .divider {
      font-weight: $regular;
      font-size: 1.4rem;
      line-height: 1.43;
      color: $grayDark;
    }
  }
  .auth-form {
    margin-top: 5rem;
    .form-field {
      margin-bottom: 3rem;
      fieldset {
        padding: 0;
        border: none;
      }
      label {
        display: block;
        font-weight: $bold;
        margin-bottom: 0.8rem;
      }
      input {
        background-color: $grayLightest;
        border-radius: 0.4rem;
        border: none;
        height: 4rem;
        padding-top: 1rem;
        padding-left: 1.3rem;
        padding-bottom: 1rem;
        width: 100%;
        &:focus {
          outline: none;
          box-shadow: 0 0 6px 0 $green;
          border: solid 1px $green;
          background-color: $white;
        }
        &::placeholder {
          font-size: 1.4rem;
          color: #bbbbbb;
        }
      }
      &.form-field__terms {
        fieldset {
          label {
            float: left;
            font-size: 1.4rem;
            font-weight: $regular;
            color: $grayDark;
            a {
              color: $green;
            }
          }
          input {
            float: left;
            margin-bottom: 3rem;
            padding: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            height: 2rem;
            width: 2rem;
            border-radius: 0.4rem;
            border: 1px solid $gray;
            background: $white;
            margin-right: 1rem;
            -webkit-transition: 0.2s linear;
            transition: 0.2s linear;
            display: flex;
            justify-content: center;
            align-items: center;

            &:after {
              font-family: "Font Awesome 5 Free";
              content: "\f00c";
              color: $white;
              font-weight: 900;
              font-size: 1rem;
              display: none;
            }
            &:checked {
              background-color: $green;
              border: none;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
            }
            &:hover,
            &:focus {
              box-shadow: 0 0 0.6rem 0 $green;
              cursor: pointer;
            }
            &:checked::after {
              display: block;
            }
          }
        }
      }
    }
    .form-btns {
      input {
        display: inline-block;
        width: 100%;
        height: 4rem;
        margin-top: 3.2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 0.4rem;
        background-color: #00dabb;
        border: none;
        color: $white;
        font-size: 1.4rem;
        line-height: 1.43;
        letter-spacing: 0.3px;
        font-weight: $semiBold;
        @include desktop() {
          width: 48%;
          margin: 0;
        }
      }
    }
    .form-field-group {
      @include desktop {
        display: flex;
        .form-field {
          width: 50%;
        }
        .form-field:last-child {
          margin-left: 2.4rem;
        }
      }
    }
  }
  @include desktop() {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    width: 100%;
    height: 100vh;
    max-width: 63.6rem;
  }
}
.main-container_signup {
  display: flex;
  margin-top: 0;
  height: 100vh;
  padding: 1.2rem;
  @include desktop() {
    padding: 0;
  }
  .auth-sidebar {
    display: none;
    @include desktop() {
      display: block;
    }
  }
}
