.header {
  margin-top: 1.4rem;
  .navigation {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1.5rem;
    @include mobile() {
      padding: 0 3rem;
    }
    background-color: $white;
    height: 4rem;
    .logo-and-searchbar {
      flex: 1;
      display: flex;
      align-items: center;
      .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        .logo-slogan {
          display: none;
          @include desktop() {
            display: flex;
          }
          flex-direction: column;
          white-space: nowrap;
          margin-left: 0.8rem;
          flex-direction: column;
          .logo_laplace {
            width: fit-content;
          }
          .slogan {
            margin: 0;
            font-family: $secondary_font;
            font-family: Montserrat;
            font-size: 1.2rem;
            font-weight: $light;
            color: $grayDark;
          }
        }
      }
      .search-bar {
        margin-left: 1.8rem;
        @include desktop() {
          margin-left: 7.7rem;
        }
        width: 100%;
        form {
          display: inline-flex;
          background-color: $grayLighter;
          width: 100%;
          padding: 1.1rem 1.7rem;
          border-radius: 20px;
          background-color: $grayLighter;
          .button-search {
            display: flex;
            align-items: center;
            border: none;
            padding: 0;
            cursor: pointer;
            img {
              width: 1.3rem;
              height: 1.3rem;
            }
          }
          .search-div {
            flex-grow: 1;
            display: flex;
            .search-input {
              flex-grow: 1;
              width: 100%;
              background: none;
              border: none;
              padding-left: 10px;
              padding-bottom: 2px;
              &::placeholder {
                color: $gray;
              }
              &:focus {
                outline: none;
                color: $blackLight;
              }
              &::-webkit-search-cancel-button {
                -webkit-appearance: none;
              }
            }
          }
        }
      }
    }
    .navigation-about {
      padding-left: 1.6rem;
      display: none;
      @include tablet() {
        display: flex;
      }
      @include desktop() {
        padding-left: 6.2rem;
      }
      padding-right: 3rem;
      ul {
        display: inline-block;
        padding-left: 0;
        margin: 0;
        li {
          display: inline-block;
          font-size: 1.4rem;
          font-weight: $semiBold;
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $gray;
          }
        }
      }
    }
    .navigation-join {
      display: none;
      @include tablet() {
        display: flex;
      }
      .btn-submit {
        display: inline-block;
        margin-right: 3rem;
        button {
          a {
            color: $gray;
            &:visited {
              color: $gray;
            }
          }
          font-weight: $semiBold;
          font-size: 1.4rem;
          padding: 0.6rem 1.1rem;
          background-color: transparent;
          border: 1px solid $grayLight;
        }
      }
      .btns-join {
        display: inline-flex;
        align-items: center;
        position: relative;
        a:first-of-type {
          border-color: transparent;
          border-radius: 0;
          box-shadow: none;
          margin-right: 14px;
          font-size: 1.4rem;
          font-weight: $semiBold;
          color: $gray;
          margin-right: 3rem;
          &::before {
            position: absolute;
            top: 0;
            left: -15px;
            width: 1px;
            height: 32px;
            content: "";
            background-color: #d1d1d1;
            display: inline-block;
          }
        }
        a:nth-child(2) {
          background-color: $green;
          color: $white;
          padding: 0.6rem 1rem 0.6rem 1.1rem;
        }
      }
    }
    /*Mobile menu*/
    .mobile-menu {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      @include tablet() {
        display: none;
      }
      .mobile-menu_btn {
        i {
          font-size: 2.5rem;
        }
      }
      .mobile-menu_content {
        position: absolute;
        z-index: 4;
        top: 150%;
        right: 0;
        width: 23.5rem;
        padding: 2.88rem 2rem 2.1rem;
        border-radius: 0.2px;
        box-shadow: 0 0 1rem 0 #aaa;
        border: solid 1px #eee;
        background-color: $white;
        display: none;
        &.active {
          display: block;
        }
        &:before {
          content: "";
          display: block;
          position: absolute;
          background-color: white;
          width: 2rem;
          height: 2rem;
          top: -1%;
          right: 2%;
          transform: rotateZ(45deg);
        }
        .menu-content_laplace,
        .menu-content_legal {
          flex-direction: column;
          .content-laplace_legend {
            align-items: center;
            font-size: 1.4rem;
            font-weight: $bold;
            line-height: 1.43;
            letter-spacing: 0.3px;
            color: $blackLight;
            margin-bottom: 2rem;
            img,
            svg:first-child {
              margin-right: 0.8rem;
            }
            .triangle {
              margin-left: auto;
              &.flipped {
                transform: rotateX(180deg);
              }
            }
          }
          .content-laplace_submenu {
            flex-direction: column;
            display: none;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            &.active {
              visibility: visible;
              display: flex;
              opacity: 1;
              visibility: visible;
            }
            li {
              margin-bottom: 1rem;
            }
          }
        }
        .menu-content_btns {
          .submit-btn_mobile,
          .signup-btn_mobile {
            background-color: transparent;
            border: none;
            font-size: 1.4rem;
            font-weight: $semiBold;
            line-height: 1.43;
            letter-spacing: 0.3px;
            color: $gray;
            padding: 6px 11px;
            border-radius: 4px;
            border: solid 1px #ccc;
          }
          .submit-btn_mobile {
            margin-right: 0.8rem;
          }
        }
      }
    }
  }
}
.navigation {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: 2rem;
  max-width: 100%;

  div {
    display: flex;
    ul {
      display: flex;
      padding-left: 0;
      margin-top: 0;
      a {
        text-align: center;
        font-weight: $semiBold;
        font-size: 1.4rem;
        margin-left: 1.5rem;
        @include mobile() {
          margin-left: 3rem;
        }
        color: $gray;
      }
    }
  }
  .div-separator {
    padding-left: 3rem;
    .separator {
      background-color: #d1d1d1;
      width: 0.1rem;
      height: 3rem;
      display: block;
    }
  }
  .container-btn-navigation {
    flex: 1;
    display: flex;
    align-items: center;
    width: 55%;
    @include tablet() {
      width: 70%;
    }
    @include desktop() {
      width: 80%;
    }
    position: relative;
    .div-navigation {
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
      max-width: 100%;
      ul {
        max-width: 100%;
        li {
          display: list-item;
          white-space: nowrap;
        }
      }
      .btns-arrow {
        .btn-arrow_left,
        .btn-arrow_right {
          cursor: pointer;
          border: none;
          position: absolute;
          top: 0;
          width: 5rem;
          @include mobile() {
            width: 10rem;
          }
          height: 2.5rem;
          margin-left: auto;
          margin-right: auto;
          outline: none;
          background-color: transparent;
          i {
            display: none;
            @include mobile() {
              display: inline-block;
            }
          }
        }
        .btn-arrow_left {
          text-align: left;
          left: 0;
          background: -moz-linear-gradient(
            90deg,
            rgba(255, 255, 255, 1) 63%,
            rgba(255, 255, 255, 0) 100%
          );
          background: -webkit-linear-gradient(
            90deg,
            rgba(255, 255, 255, 1) 63%,
            rgba(255, 255, 255, 0) 100%
          );
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 1) 63%,
            rgba(255, 255, 255, 0) 100%
          );
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
          display: none;
          &.active {
            display: block;
          }
        }
        .btn-arrow_right {
          text-align: right;
          right: 0rem;
          z-index: 3;
          @include mobile() {
            right: 0;
          }
          background: -moz-linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 37%
          );
          background: -webkit-linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 37%
          );
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 37%
          );
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
          display: block;
          &.hide {
            display: none;
          }
        }
      }
    }
  }
  .btn-arrow {
    position: absolute;
    height: fit-content;
    background-color: $white;
    &.btn-left {
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      border: none;
      left: 123px;
      padding: 0;
      padding-right: 2rem;
      width: 10rem;
      z-index: 1;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
      background: -moz-linear-gradient(
        left,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
      display: none;
      &.active {
        display: flex;
      }
    }
    &.btn-right {
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      padding-right: 0;
      left: 168rem;
      width: 10rem;
      border: none;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
      background: -moz-linear-gradient(
        right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to left,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
      display: none;
      &.active {
        display: flex;
      }
    }
  }
  .view-all {
    padding-left: 0;
    margin-right: 1.5rem;
    z-index: 2;
    @include mobile() {
      padding-left: 3rem;
      margin-right: 3rem;
    }
  }
  .menu-item {
    a {
      padding-bottom: 1.8rem;
      border-bottom: 0.6rem solid transparent;
      &.active {
        border-bottom: 0.6rem solid #000;
        position: relative;
        z-index: 2;
      }
    }
  }
}
