.userpage-details {
  display: flex;
  flex-direction: column;
  @include tablet() {
    flex-direction: row;
  }
  .user-avatar {
    flex-basis: 12rem;
    margin-right: 3rem;
    img {
      width: 12rem;
      height: 12rem;
    }
  }
  .user-details {
    flex: 1;
    .user-details_section1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.2rem;
      @include tablet() {
        flex-direction: row;
        align-items: center;
      }
      .name {
        font-size: 4.4rem;
        font-weight: $extraBold;
        color: $blackLight;
        margin-right: 3.5rem;
      }
      .follow-button,
      .message-button,
      .submenu-button {
        width: fit-content;
        margin-bottom: 0.8rem;
        @include tablet() {
          margin-bottom: 0;
          width: auto;
        }
      }
      .follow-button {
        padding: 0.7rem 1.2rem 0.7rem 1.3rem;
        border-radius: 1rem;
        border: solid 1px $grayLight;
        background-color: $white;
        margin-right: 0.8rem;
        a {
          font-size: 1.4rem;
          font-weight: $semiBold;
          text-align: center;
          color: $blackLight;
        }
      }
      .message-button {
        padding: 0.64rem 1.1rem 0.76rem 1.2rem;
        border-radius: 1rem;
        background-color: $green;
        margin-right: 0.9rem;
        a {
          font-size: 1.4rem;
          font-weight: $semiBold;
          text-align: center;
          color: $white;
        }
      }
      .submenu-button {
        padding: 0.64rem 0.8rem;
        border-radius: 1rem;
        border: solid 1px $grayLight;
        background-color: $white;
        display: flex;
        a {
          color: $grayDark; // falta centrar los puntos
        }
      }
    }
    .user-details_section2 {
      .text {
        margin-bottom: 2.6rem;
        p {
          margin: 0;
          font-size: 1.8rem;
          line-height: 1.33;
          color: $blackLight;
          line-height: 2.4rem;
        }
      }
      .location,
      .member-date {
        display: flex;
        align-items: center;
        margin-bottom: 1.6rem;
        &:last-of-type {
          margin-bottom: 0;
        }
        .icon {
          margin-right: 0.6rem;
        }
        font-size: 1.4rem;
        line-height: 1.43;
        color: $gray;
      }
      .member-date {
        margin-bottom: 2.6rem;
      }
      .tags {
        margin-bottom: 6.8rem;
        .tags_list {
          display: flex;
          flex-wrap: wrap;
          li {
            margin-right: 1rem;
            margin-bottom: 1rem;
            @include tablet() {
              margin-bottom: 0;
            }
            a {
              padding: 0.3rem 1.2rem 0.3rem 1.1rem;
              border-radius: 0.4rem;
              border: solid 1px #e7e7e7;
              background-color: #f1f1f1;
              font-size: 1.4rem;
              font-weight: $medium;
              line-height: 1.43;
              text-align: center;
              color: $gray;
            }
          }
        }
      }
    }
  }
}
.navigation-userpage {
  box-shadow: 0px 2px 10px -2px #e2e2e2;
  margin-bottom: 5rem;
  ul {
    flex-wrap: wrap;
    @include mobile() {
      flex-wrap: nowrap;
    }
    .menu-item {
      margin-right: 2.5rem;
      margin-bottom: 2rem;
      @include mobile() {
        margin-bottom: 0;
      }
      a {
        margin-left: 0;
      }
    }
  }
}
.charts {
  display: flex;
  flex-direction: column;
  @include desktop() {
    flex-direction: row;
  }
  gap: 2.4rem;
  .views-chart_title,
  .likes-chart_title {
    text-align: left;
    font-size: 2.2rem;
    font-weight: $semiBold;
    color: $grayDark;
    margin-bottom: 0.3rem;
  }
  .views-chart_number,
  .likes-chart_number {
    font-size: 4.4rem;
    font-weight: $extraBold;
    color: $blackLight;
  }
  .views-chart_filter,
  .likes-chart_filter {
    float: right;
    .select {
      width: 100%;
      @include mobile() {
        width: auto;
      }
      border-radius: 0.4rem;
      border: 1px solid $gray;
      padding: 0.6rem 2rem 0.6rem 1.2rem;
      margin: 0;
      font-size: 1.4rem;
      line-height: 2rem;
      color: $gray;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("/build/img/index/triangle-2@2x.png");
      background-repeat: no-repeat;
      background-position: right 10px top 50%;
      background-size: 1.3rem;
      padding-right: 3rem;
      &::-ms-expand {
        display: none;
      }
      &:focus {
        box-shadow: 0 0 6px 0 rgba(0, 191, 164, 0.7);
        border: solid 1px $green;
        color: $grayDark;
      }
      option {
        font-size: 1.2rem;
        color: $gray;
        line-height: 2.6rem;
        padding-bottom: 2rem;
        &:checked {
          color: $green;
          font-weight: $bold;
        }
        &:hover {
          background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500
                100%);
          color: #fff;
          display: flex;
          pointer-events: none;
        }
      }
    }
  }
  .likes-number_chart,
  .views-number_chart {
    margin-top: 5.8rem;
    margin-bottom: 9rem;
  }
  .views-chart {
  }
}
.media-elements_title {
  font-size: 2.2rem;
  font-weight: $semiBold;
  color: $grayDark;
  margin-top: 0;
  margin-bottom: 3.1rem;
}
#uspage {
  .media-elements {
    .media-element {
      .description {
        flex-direction: column;
        .views {
          display: flex;
          align-items: center;
          margin: 2rem 0;
          span {
            font-size: 14px;
            color: $gray;
            &.views-text {
              margin-right: 0.5rem;
            }
            &.views-number {
              margin-right: 0.9rem;
              color: $blackLight;
              font-weight: $bold;
            }
            &.views-date {
              margin-left: 0.8rem;
            }
          }
        }
      }
      .actions {
        width: 100%;
        height: 100%;
        margin: 0;
        .span-edit {
          font-size: 1.4rem;
          font-weight: $semiBold;
          line-height: 1.43;
          letter-spacing: 0.3px;
          padding: 5px 8px 5px 9px;
          width: auto;
          text-align: center;
          color: $gray;
          position: absolute;
          left: 0.8rem;
          top: 0.8rem;
        }
        .span-time_icon {
          width: 16px;
          height: 16px;
          position: absolute;
          bottom: 0.8rem;
          right: 4.8rem;
          flex-direction: column;
          .circle1,
          .circle2 {
            width: 0.8rem;
            height: 0.4rem;
            margin: 0 0 0.4rem;
            opacity: 0.3;
            margin: 0;
            border-radius: 50%;
          }
          .circle1 {
            background-color: $gray;
          }
          .circle2 {
            background-color: $grayDark;
          }
        }
        .span-time {
          position: absolute;
          bottom: 0.8rem;
          right: 0.8rem;
          width: 3.6rem;
          height: 1.6rem;
          font-size: 1.1rem;
          font-weight: $medium;
          color: $grayDark;
        }
      }
    }
  }
}
